body {
  background-color: white;
  text-align: center;
}
/*is applied to login page to set appropriate background */
.bg {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    30deg,
    #1677c5,
    #3dbdff,
    #64eefa,
    #a4ffec,
    #93d5c9
  );
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 100%);
}
/* to create horizontal greenish coloured bar  */
.header {
  background-color: rgb(147, 213, 201);
  height: 50px;
  text-align: left;
}
h4 {
  text-align: center;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
}
button {
  border: none;
}
/*is applied to  login page to position bootstrap card*/
.login {
  transform: translateY(20%);
  margin: auto;
}
i {
  cursor: pointer;
}
thead {
  color: rgba(147, 213, 201);
}
h2 {
  color: white;
  text-transform: uppercase;
  font-family: Georgia;
}
/* to  convert table content to uppercase*/
.table-item {
  text-transform: uppercase;
}
.card {
  background: rgb(0, 0, 0, 0.6); /* 0.6 opacity is set for bootstrap cards*/
  border-radius: 25px;
}
/* to style submit buttons on login and manage pages */
.submit {
  margin-top: 15px;
  text-align: center;
  color: black;
  width: 100px;
  z-index: 5;
  background: rgba(147, 213, 201);
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
}
/*to set placeholder color*/
::placeholder {
  color: white;
  opacity: 0.5;
}

input {
  color: rgb(250, 250, 250);
  width: 240px;
  text-align: center;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(147, 213, 201);
  font-family: "Play", sans-serif;
  font-size: 16px;
  font-weight: 200px;
  padding: 10px 0;
  transition: border 0.5s;
  outline: none;
}
